.repos {
    display: flexbox;
    flex-direction: row;
}

.repos > li {
    list-style-type: none;
    width: fit-content;

    /* Following code block thanks to https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-image#rounded_borders */
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 1rem;
    background-image:
    linear-gradient(hsl(0, 0%, 15%), hsl(0, 0%, 15%)), linear-gradient(135deg, white, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

a:visited {
    color: white
}